<ion-view>
    <ion-content scroll="false" >
        <section class="testContainer">
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>
                <label class="item item-input">
                    <input type="text" placeholder="Enter User name to invite">
                </label>
                <br>                
                <button class="button button-block  button-balanced">Add User</button>
                <label class="item item-input">
                    <input type="text" placeholder="Pad Name">
                </label>
                <br>                
                <button class="button button-block  button-balanced">Create Pad</button>
        </section>
    </ion-content>
</ion-view>