<ion-view id="auth" hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="loading__container" ng-class="{show: auth.loading == true}">
            <div class="loading"></div>
        </div>
        <div id="error__container" ng-class="{error__active: auth.error != false}">
            <div id="error__icon" class="icon ion-alert-circled"></div>
            <div id="error">{{ auth.error }}</div>
        </div>
        <div id="auth__container">
            <div id="auth__container-overlay">
                <div id="auth__form">
                    <div id="auth__form-icon">
                        <img src="/img/icon.png">
                    </div>
                    <div class="auth__input__container">
                        <input ng-model="auth.email" class="auth__input" type="text" name="email" id="email" placeholder="Email" required autofocus>
                        <label class="icon ion-ios-email-outline auth__input-icon" for="email"></label>
                        <div class="auth__line"></div>
                    </div>
                    <div class="auth__input__container">
                        <input ng-model="auth.password" class="auth__input" type="password" name="password" id="password" placeholder="Password" required>
                        <label class="icon ion-ios-locked-outline auth__input-icon" for="password"></label>
                        <div class="auth__line"></div>
                    </div>
                    <button class="auth__button" name="login" id="login" ng-click="signin()">
                        Log In
                    </button>
                    <button class="auth__button" name="signup" id="signup" ng-click="signup()">
                        Sign Up
                    </button>
                    <button class="auth__button" name="google" id="google" ng-click="google()">
                        Google
                    </button>
                    <div class="col text-center auth__link" ng-click="reset()">
                        Reset password
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>