<ion-view view-title="Edit Pad">
  <ion-content>
    <div class="headerDash">
      <h4 class="padding center headerText">Edit Pad</h4>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Id = {{ id }}
      </div>
      <div class="item item-text-wrap">
        Title = {{ title }}
      </div>
      <div class="item item-text-wrap">
        Body = {{ body }}
      </div>
      <div class="item item-text-wrap">
        Non finished page, just showing how we can grab specific pad data for updating. 
      </div>
          <button class="button button-assertive button-full" ng-click="goBack()">Back</button>
    </div>
  </ion-content>
</ion-view>
