<ion-view view-title="Edit Pad">
  <ion-content>
    <div class="headerDash">
      <h4 class="padding center headerText">Edit Note</h4>
    </div>

    <div class="edit-pad-container">
      <h4>{{ title }}</h4>
      <textarea class="edit-pad-textarea" ng-model="body"></textarea>
    </div>

    <div class="card">
      <button class="button button-positive button-full" ng-click="updateNote(body)">Update</button>
      <button class="button button-assertive button-full" ng-click="goBack()">Back</button>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Pad id = {{ pad_id }}
      </div>
      <div class="item item-text-wrap">
        Group id = {{ group_id }}
      </div>
    </div>
  </ion-content>
</ion-view>
