<ion-view>
    <ion-content scroll="false" >
        <section class="login-container padding">
            
            <div class = "col button-row text-center">
               &nbsp;<img src=" http://placehold.it/150x150" class="padding-vertical" />
               </br>
               <div class="item item-divider"></div>
              <label class="item item-input">
                    <input type="text" placeholder="Display Name">
              </label>
                 <div class="item item-divider">
               </div>
                 <button class="button button-block  button-balanced">Accept</button>
            </div>            
        </section>
    </ion-content>
</ion-view>