<!-- THIS IS GOING TO BE TURNED INTO A DIRECTIVE ELEMENT IN NEXT ITTERATION -->

<ion-view>
    <ion-content class="padding has-header">
        <div class="add_new_card list">
            <div class="row">
                <div class="col col-75">
                    <label class="item item-input">
                        <input type="input" class="border-none" placeholder="Contant Name"  name="group_name" id="group_name" ng-model="page.models.search.displayName">
                    </label>
                </div>    
                <div class="col col-5">
                </div>
                <div class="col col-20">
                    <button class="auth_btn kbutton button button-positive "
                    ng-click="search_contact()">
                    <i class="icon ion-search"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input type="input" placeholder="Group Name" class="border-none" name="group_name" id="group_name"
                    ng-model="page.models.group.create.title">
                </label>
            </div>
            <div class="col col-50">
                <div  class="item mydatetime" contenteditable="true"   ion-datetime-picker ng-model="page.models.group.create.date">
                    {{page.models.group.create.date| date: "yyyy-MM-dd H:mm:ss"}}
                </div>
            </div>
        </div>
        <div class="row">
            <button ng-click="create_group()" class="auth_btn button button-positive button-block"> Add New Group </button>    
        </div>  
    </div>
    <!-- <div class="card-container">
        <div class="group">
            <div class="row">
                <div class="col col-50">
                    <span><b>{{group.title}}kelvin</b></span>
                </div>
                <div class="col col-50 text-right">
                    <span ng-click="remove_group(group_id)" class="icon ion-trash-b"> Remove</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-75">
                     <label class="item item-input">
                        <input type="input" placeholder="Edit Group Name" class="border-none" name="edit_group_name" id="edit_group_name" ng-model="page.models.group.edit[group_id].title">
                    </label>
                </div>
                <div class="col col-5">
                </div>
                <div class="col col-20">
                    <button class="auth_btn button button-assertive " ng-click="update_group(group_id)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <input type="input" class="border-none" placeholder="Pad title" name="pad_title" id="pad_title" ng-model="page.models.pad.create[group_id].title" ng-disabled="!page.data.groups[group_id].users[page.data.uid]">
                    </label>
                </div>  
            </div>
            <div class="row">    
                <div class="col">
                    <label class="item item-input">
                        <textarea placeholder="Pad body" name="pad_body" id="pad_body" ng-model="page.models.pad.create[group_id].body" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"></textarea>            
                    </label>
                </div>  
            </div>
            <div class="row">
            <button ng-click="create_pad(group_id)" class="auth_btn button button-assertive button-block kbutton" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"> Add New Pad </button>
            </div>

        </div>
     -->     <div class="group" ng-repeat="(group_id, group) in page.data.groups" ng-if="group_id!='length'">
     <div class="card-container">
        <div class="group">
            <div class="row">
                <div class="col col-50">
                    <span><b>{{group.title}}</b></span>
                </div>
                <div class="col col-50 text-right">
                    <span ng-click="remove_group(group_id)" class="icon ion-trash-b"> Remove</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-75">
                     <label class="item item-input">
                        <input type="input" placeholder="Edit Group Name" class="border-none" name="edit_group_name" id="edit_group_name" ng-model="page.models.group.edit[group_id].title">
                    </label>
                </div>
                <div class="col col-5">
                </div>
                <div class="col col-20">
                    <button class="auth_btn button button-assertive " ng-click="update_group(group_id)">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <input type="input" class="border-none" placeholder="Pad title" name="pad_title" id="pad_title" ng-model="page.models.pad.create[group_id].title" ng-disabled="!page.data.groups[group_id].users[page.data.uid]">
                    </label>
                </div>  
            </div>
            <div class="row">    
                <div class="col">
                    <label class="item item-input">
                        <textarea placeholder="Pad body" name="pad_body" id="pad_body" ng-model="page.models.pad.create[group_id].body" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"></textarea>            
                    </label>
                </div>  
            </div>
            <div class="row">
            <button ng-click="create_pad(group_id)" class="auth_btn button button-assertive button-block kbutton" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"> Add New Pad </button>
            </div>

        </div>
    
            <!-- <div class="row">
                <div class="col col-50">
                    <span><b>{{group.title}}</b></span>
                </div>
                <div class="col col-50">
                <span ng-click="remove_group(group_id)" class="icon ion-trash-b"></span>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                     <label class="item item-input">
                        <input type="input" placeholder="edit group name" class="border-none" name="edit_group_name" id="edit_group_name" ng-model="page.models.group.edit[group_id].title">
                    </label>
                </div>
                <div class="col col-50">
                    <button class="auth_btn button button-positive button-block" ng-click="update_group(group_id)"> edit group </button>
                </div>
            </div>
            
            <input type="input" placeholder="pad title" name="pad_title" id="pad_title" ng-model="page.models.pad.create[group_id].title" ng-disabled="!page.data.groups[group_id].users[page.data.uid]">
            <textarea placeholder="pad body" name="pad_body" id="pad_body" ng-model="page.models.pad.create[group_id].body" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"></textarea>
            <button ng-click="create_pad(group_id)" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"> add new pad </button>
            <div class="flip-card" ng-repeat="(pad_id, pad) in group.pads" ng-class="{'flipped':pad.flipped}" ng-if="pad_id!='length'">
                <div class="front" tabindex="-1 ">
                    <div class="flip-header">
                        <h2 class="white">
                            {{pad.title}}
                        </h2>
                    </div>
                    <div class="flip-header" ng-click="remove_pad(group_id, pad_id)">
                        <span class="icon ion-trash-b">Remove pad.</span>
                    </div>
                    <div class="flip-body">{{pad.body}}</div>
                    <div class="flip-footer">
                        <button class="flip_btn" ng-click="flip(group_id, pad_id)"> Comments [{{pad.comments.length}}] </button>
                    </div>
                </div>
                <div class="back" tabindex="-1">
                    <div class="flip-header">
                        <h2 class="black">
                            {{pad.title}}
                        </h2>
                    </div>
                    <div class="flip-body">
                        <ul>
                            <li ng-repeat="(comment_id, comment) in pad.comments" ng-click="remove_comment(group_id, pad_id,comment_id)" ng-if="comment_id!='length'"> {{comment.body}}
                            </li>
                        </ul>
                        <label>Add comment:
                            <textarea name="comment" id="comment" placeholder="comment goes here..." ng-model="page.models.comment.create[pad_id].body" ng-disabled="!page.data.groups[group_id].users[page.data.uid]"></textarea>
                        </label>
                        <button ng-click="create_comment(group_id,pad_id)" ng-disabled="!page.data.groups[group_id].users[page.data.uid]">Post comment!</button>
                    </div>
                    <div class="flip-footer">
                        <button class="flip_btn ion-arrow-left-b" ng-click="flip(group_id, pad_id)">Back </button>
                    </div>
                </div>
            </div> -->
        </div> 
    </div>
</ion-content>
</ion-view>