<ion-view>
    <ion-content scroll="false" >
        <section class="login-container padding">
 
            <div class="card">
            <div class="col"> 
              <div class="item item-divider item-button-right"> 
              Note Title  
                    <button class="button button-clear button-dark ">
                      <i class="icon  ion-more"></i>
                    </button>
              </div>   

              <div class="item item-text-wrap">This is a basic Card with some text.</div>
            </div>
          </div> 


          <div class="row">
          <div class="card">
            <div class="col"> 
              <div class="item item-divider">Note Title
                 <button class="button button-clear button-dark ">
                      <i class="icon  ion-more"></i>
                 </button>
              </div>      
              <div class="item item-text-wrap">This is a basic Card with some text.</div>
            </div>
          </div> 
             <div class="card">
            <div class="col"> 
              <div class="item item-divider">Note Title
                 <button class="button button-clear button-dark ">
                      <i class="icon  ion-more"></i>
                 </button>
              </div>      
              <div class="item item-text-wrap">This is a basic Card with some text.</div>
            </div>
          </div>
         </div>
             <div class="card">
            <div class="col"> 
              <div class="item item-divider item-button-right"> 
              Note Title  
                    <button class="button button-clear button-dark ">
                      <i class="icon  ion-more"></i>
                    </button>
              </div>   

              <div class="item item-text-wrap">This is a basic Card with some text.</div>
            </div>
          </div> 


          <ion-icon name="add-circle"></ion-icon>
         
          
          
         
        </section>
    </ion-content>
</ion-view>