<style>
    ion-content {
        background: #eeeeee;
    }
    
    ion-list {
        position: absolute;
        width: 100%;
    }
    
    .ion__title {
        margin-left: 1vh !important;
    }
    
    .ion__show,
    .ion__title,
    .ion__favourite,
    .ion__edit {
        height: 4vh;
        display: flex;
        align-items: center;
    }
    
    .ion__edit {
        width: 4vh;
        float: right;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    .item-content {
        padding: 2vh 2.5vh !important;
    }
    
    .ion__show,
    .ion__title {
        float: left;
        padding-right: 1vh;
    }
    
    #ion__favourite {
        float: right;
    }
    
    ion-option-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ion__escalation {
        height: 100%;
        width: 2vh;
        position: absolute;
        left: 0;
        top: 0px;
    }
    
    .ion__escalation.black {
        background-color: black;
    }
    
    .ion__escalation.red {
        background-color: #f44336;
    }
    
    .ion__escalation.orange {
        background-color: #ff9800;
    }
    
    .ion__escalation.green {
        background-color: #8bc34a;
    }
    
    .ion__escalation.grey {
        background-color: #c7c7c7;
    }
    
    #nav__bar {
        width: 100%;
        height: 8vh;
        background-color: white;
        position: fixed;
        /*a hack around ionic being werid*/
        top: 92vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #nav__bar ul {
        display: inline;
    }
    
    #nav__bar ul li {
        min-width: 8vh;
        height: 8vh;
        padding: .5vh 1vh 0;
        margin-left: 4vh;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #nav__bar ul li:first-of-type {
        margin-left: 0vh !important;
    }
    
    #nav__bar ul li.active {
        color: #f44336;
    }
    
    #nav__bar ul li label:before {
        padding-top: 1.5vh;
        font-size: 2.5vh;
    }
    
    #nav__bar ul li label p,
    #nav__bar ul li label:before {
        float: left;
        clear: both;
        text-align: center;
        width: 8vh;
    }
    
    #nav__bar ul li label {
        height: 8vh;
        width: 8vh;
        position: absolute;
        top: 0;
        z-index: 3;
    }
    
    .ripple {
        position: relative;
        overflow: visible;
        height: 8vh;
        width: 8vh;
        background: transparent;
        pointer-events: none;
        position: absolute;
        top: 0;
    }
    
    .ripple:before {
        border-radius: 100%;
        background-color: #f44336;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
    }
    
    #nav__bar ul li input[type=radio] {
        opacity: 0;
    }
    
    #nav__bar ul li input[type=radio]:checked~div.ripple:before {
        transition: all 0.5s ease-out;
        opacity: 0;
        width: 15vh;
        height: 15vh;
        margin-top: -7.5vh;
        margin-left: -7.5vh;
    }
    
    #nav__bar ul li input[type=radio]:checked~label {
        color: #f44336;
    }
</style>

<ion-view view-title="Home">
    <ion-content>

        <ion-list show-reorder="page_data.groups.showReorder" show-delete="page_data.groups.showDelete" class="">

            <div ng-repeat="(group_id, group) in page_data.groups">

                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    <i class="ion__show" class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                    <h3 class="ion__title">{{group.title}}</h3>
                    <i class="ion__favourite" class="icon ion-star" ng-show="group.star"></i>

                    <!--favourite-->
                    <ion-option-button class="button-energized" ng-click="favourite_group(group)">
                        <i class="icon ion-star"></i>
                    </ion-option-button>

                    <!--delete-->
                    <ion-option-button class="button-assertive" ng-click="delete_group(group_id)">
                        <i class="icon ion-minus-circled"></i>
                    </ion-option-button>

                    <!--order-->
                    <ion-reorder-button class="ion-navicon" on-reorder="order_group(group, $fromIndex, $toIndex)"></ion-reorder-button>
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="pad in group.pads" ng-show="isGroupShown(group)">
                    <div class="ion__escalation" ng-class="{'black': pad.escalation == 0,'red': pad.escalation == 1, 'orange': pad.escalation == 2, 'green': pad.escalation == 3, 'grey': !pad.escalation}"></div>
                    <h5 class="ion__title">{{pad.title}}</h5>
                    <i class="ion__edit icon ion-edit" ui-sref="editPad({pad_id:'{{pad.id}}', title:'{{pad.title}}', body:'{{pad.body}}', group_id:'{{group.id}}', created_by:'{{pad.created_by}}', timestamp:'{{pad.timestamp}}'})"></i>
                </ion-item>

            </div>

        </ion-list>
        <div id="nav__bar">
            <ul>
                <li>
                    <input type="radio" name="nav" id="home">
                    <div class="ripple"></div>
                    <label for="home" class="icon ion-home">
                        <p>
                            Home
                        </p>
                    </label>
                </li>
                <li>
                    <input type="radio" name="nav" id="settings">
                    <div class="ripple"></div>
                    <label for="settings" class="icon ion-gear-b">
                        <p>
                            Settings
                        </p>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>