<ion-view>
    <ion-content scroll="false" >
        <section class="login-container padding">
            
            
    
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>

                <label class="item item-input">
                    <input type="email" placeholder="Email">
                </label>
                <br>
                <label class="item item-input">
                     <input type="password" placeholder="Password">
                </label> 
                <button class="button button-block  button-balanced">Log In</button>
           
            <div class = "col button-row text-center">
               <img src="./img/facebook-button.png" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/email-button.png" />
            </div>
            <div class = "col text-center">
                Already have an account? <strong><a href = "#">Sign in now!</a></strong>

                <strong><a href="#">Reset Passwoord</a></strong>
                <strong><a href="#">Email Verification</a></strong></div>
                
            </div>            
        </section>
    </ion-content>
</ion-view>