<ion-view id="app-login" hide-nav-bar="true" title="Firebase E/P Auth">
    <ion-content scroll="true" padding="true" class="login-container">
        <style>
        .auth_btn {
            font-size: 1.5vh !important;
            padding: .2vh 1vh !important;
        }
        
        .key {
            background-color: blue
        }
        
        .string {
            background-color: pink
        }
        
        .boolean {
            background-color: rebeccapurple;
        }
        
        .int {
            background-color: red;
        }
        </style>
        <div class="bar bar-header">
            <h2 class="title">Sticky Notes Application</h2>
        </div>
        <section>
        <div class="content has-header col-80 col-offset-10">
            <div class="card">
                <ion-list>
                    <label class="item item-input">
                        <p>Sign in or Sign up</p>
                    </label>
                    <div class="item item-input">
                        <input ng-model="auth.email" type="text" id="email" name="email" placeholder="Email" />
                    </div>
                    <div class="item item-input">
                        <input ng-model="auth.password" type="password" id="password" name="password" placeholder="Password" />
                    </div>
                </ion-list>
            </div>
            <!-- <div ng-if="signed_in" class="card">
                <ion-list>
                    <label class="item item-input">
                        <span>DisplayName -&nbsp;</span> {{user_data.displayName}}
                    </label>
                    <label class="item item-input">
                        <span>Email -&nbsp;</span> {{user_data.email}}
                    </label>
                    <label class="item item-input">
                        <span>emailVerified -&nbsp;</span> {{user_data.emailVerified}}
                    </label>
                    <label class="item item-input">
                        <span>photoURL -&nbsp;</span> {{user_data.photoURL}}
                    </label>
                    <label class="item item-input">
                        <span>isAnonymous -&nbsp;</span> {{user_data.isAnonymous}}
                    </label>
                    <label class="item item-input">
                        <span>uid -&nbsp;</span> {{user_data.uid}}
                    </label>
                    <label class="item item-input">
                        <span>providerData: </span>
                    </label>
                    <pre class="item item-input">
                    	<code>
                    		{{user_data.providerData}}
                    	</code>
                    </pre>
                </ion-list>
            </div> -->
            <div class="button-bar">
                <button class="auth_btn button button-calm" ng-disabled="signinable" ng-click="toggleSignIn()" id="quickstart-sign-in" name="signin">
                    {{sign_status_text}}
                </button>
                <button class="auth_btn button button-balanced" ng-click="handleSignUp()" id="quickstart-sign-up" name="signup">
                    Sign Up
                </button>
                <button class="auth_btn button button-royal" ng-disabled="verifyable" ng-click="sendEmailVerification()" id="quickstart-verify-email" name="verify-email">
                    Email Verification
                </button>
                <button class="auth_btn button button-assertive" ng-click="sendPasswordReset()" id="quickstart-password-reset" name="verify-email">
                    Reset Password
                </button>
            </div>
            <button class="button button-full button-assertive" ng-click="googleSignIn()">
                Google sign in 
            </button>
            <div class="card">
                <div class="list">
                    <pre class="item item-input">
						FB sign-in status: <span>{{login_status}}</span>
					</pre>
                    <pre class="item item-input">
						<div>FB auth: <code>currentUser</code> object value:</div>
					</pre>
                    <label class="item item-input">
                        <span>User error output -&nbsp;</span>{{error_output.user}}
                    </label>
                    <label class="item item-input">
                        <span>Admin error output -&nbsp;</span>{{error_output.admin}}
                    </label>
                    <div class="item item-input">
                    </div>
                </div>
            </div>
            <!-- 
            html binding example
            -->
            <!-- <pre class="card padding">
            	<code>
            	    <div ng-bind-html="quick_start_acc_details"></div>
            	</code>
            </pre> -->
        </div>
        </section>
    </ion-content>
</ion-view>
