<ion-view>
    <ion-content scroll="false" >
        <section class="testContainer">
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>                                
                <button class="button button-block  button-balanced" 
                ng-click="go('/accordion')"
                >Accordion</button>
                </br>
                <button class="button button-block  button-balanced" 
                ng-click="go('/addPad')"
                >AddPad</button>
                </br>
                <button class="button button-block  button-balanced" 
                ng-click="go('/flip')"
                >Flip Cards</button>
                </br>
        </section>
    </ion-content>
</ion-view>