<ion-view view-title="Settings">
    <ion-content scroll="true">

        <!--list page-->
        <div id="list__template" ng-class="{show:page_data.list}">
        <!--header-->

            <!--Find friends and edit Profile -->
            <ul class="list">

  <label class="item item-input item-select item-dark">
    <div class="input-label">
      Select Theme
    </div>
    <select>
      <option selected>Dark</option>
      <option >Light</option>
      <option>Assistive Technology</option>
    </select>
  </label>

                <li class="item item-toggle">
                 Private Account
                <label class="toggle toggle-balanced">
                <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                </li>  


                <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Find Friends
                <span class="badge badge-assertive">0</span>
                </a>

                <a class="item item-icon-left" href="#">
                <i class="icon ion-edit"></i>
                Edit Profile
                </a>

            </ul>
            <div class="item item-divider">
                Colour brightness
            </div>
        <div class="item range range-positive">
            <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios-sunny"></i>
        </div>

          <div class="item item-divider">
                Date and Time:
            </div>
        <div class="item" ng-app="myApp" ng-controller="SettingsCtrl">
          <p>{{ today | date : "'Today is ' MMMM d, y - h:mm a" }}</p>
        </div>

           <div class="item item-divider">
                Test Internet connections:
            </div>
        <div class="item">
          
          <a  href="#" onclick="window.open('http://www.bbc.co.uk/news', '_system', 'location=yes')">
              Test Internet
          </a>
        </div>

        <div class="item item-divider"> 


        Account
        </div>
            <a class="item item-icon-left item-icon" href="#">
               
            LOGOUT
                <i href="#/auth" class="icon ion-android-exit"></i>
            </a>

        </div>



    </ion-content>
</ion-view>







<!--had to put outside view to stop view breaking position fixed bottom 0... stupid ionic-->
<div id="nav__bar" class="tabs" style="height:auto;">
    <ul>
        <li>
        <a href="#/home">
            <input type="radio" name="nav" id="home" checked>
            <div class="ripple"></div>
            <label for="home" class="icon ion-home">
                <p>
                    Home
                </p>
            </label>
            </a>
        </li>
        <li>
        <a class="" href="#/settings">
            <input type="radio"   name="nav" id="settings">
            <div class="ripple"></div>
            <label for="settings"  class="icon ion-gear-b">
                <p>
                    Settings
                </p>
            </label> 
            </a>
        </li>
    </ul>
</div>