<ion-view view-title="Settings">
    <ion-content scroll="true">
        <label class="item item-input item-select item-dark">
            <label for="theme" class="input-label">
                Select Theme
            </label>
            <select name="theme" id="theme" ng-change="changePath(css)" ng-model="css" ng-controller="headCtrl" ng-options="option.value as option.name for option in cssOptions">
                <option style="display:none" value="">Change Your Theme</option>
            </select>
        </label>
        <div class="item" ng-app="myApp" ng-controller="SettingsCtrl">
          <p><u>Current date and time:</u></p>
          <p>{{ today | date : "'Today is ' MMMM d, y - h:mm a" }}</p>
        </div>
        <div class="item" ng-app="myApp" ng-controller="SettingsCtrl">
          <a href="http://www.bbc.co.uk/news" target="_blank">
              Test internet connection.
          </a>
        </div> 
        <button class="button button-full button-assertive" ng-click="signOut()">Sign Out</button>
    </ion-content>
</ion-view>