<ion-view view-title="Dashboard">
  <ion-content>

    <div class="headerDash">
      <h4 class="padding center headerText">Welcome {{ displayName }}</h4>
    </div>

     <ion-list show-reorder="groups.showReorder" show-delete="groups.showDelete" class="">

      <div ng-repeat="(group_id, group) in groups" on-swipe-right="onSwipeRight()">

        <ion-item class="item-stable ion-star-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">

          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Group {{group.title}}

          <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(group)" ng-show="group.star"></button>

          <ion-option-button class="button-energized" ng-click="toggleStar(group)">
            <i class="icon ion-star margin-center"></i>
          </ion-option-button>

          <ion-option-button class="button-assertive" ng-click="onItemDelete(group_id)">
            <i class="icon ion-minus-circled margin-center"></i>
          </ion-option-button>

         <!--  <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(group_id)"></ion-delete-button> -->

          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(group, $fromIndex, $toIndex)"></ion-reorder-button>

        </ion-item>

        <ion-item class="item-accordion" ng-repeat="(pad_id, item) in group.pads" ng-show="isGroupShown(group)">
          {{item.title}}
          <button class="pad-edit-btn" ui-sref="editPad({id:'{{item.id}}', title:'{{item.title}}', body:'{{item.body}}'})">Edit</button>
        </ion-item>

      </div>

    </ion-list>  
  </ion-content>
</ion-view>
