# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/js/app.js
www/js/controllers.js
www/js/services.js
www/img/space.jpg
debug.log
.editorconfig
.vscode/